<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
                </Pattern>
            </layout>
        </encoder>
    </appender>

    <!-- change to TRACE to enable rules input-output logging -->
    <logger name="kraken.runtime.logging.Slf4jKrakenDataLogger.ResultLogger" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="KRAKEN_TRACER" additivity="false" level="TRACE">
        <!-- uncomment to enable tracing output to console when running test
        <appender-ref ref="STDOUT"/>
        -->
    </logger>

</configuration>
